.loading {
    width: 100vw;
    height: 100vh;
    background-color: #070B1D;
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid red;
  
    border-radius: 50%;
  
    animation: loadingRotate 800ms linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  }
  

  .instantLink{
    position: fixed;
    right: 2vmax;
    bottom: 2vmax;
  }
  
  .instantLinkIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  