*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logcontainer{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: #070B1D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logCard{
    width: 400px;
    height: 490px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);   
    perspective: 1000px;
    border-radius: 20px;
}

.logInnerBox{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid rgba(54, 32, 255, 0.25);
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 40px -1px rgba(54, 32, 255, 0.33);
}

.logFront .logTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logFront .logTitle .ellipse{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  justify-content: center;
}


.logFront{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px;
}




@media (max-width:800px){
  .logCard{
    width: 90%;
  }
  .logFront, .logSignBack{
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
}


.logCard h2{
    font-weight: normal;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.logInnerBox .input-box{
    width: 100%;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.15);
    border: 2px solid #fff;
    margin: 6px 0;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.logInnerBox .logFront .input-box{
  margin: 10px 0;
}

.logInnerBox .input-box::placeholder{
  font-size: 15px;
  color: #fff;
}

.logInnerBox .btnBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logInnerBox .logSubmitBtn{
    width: 50%;
    height: 35px;
    font-size: 15px;
    border-radius: 15px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}
.logInnerBox .signBtn{
    width: 100%;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.logCard .logSubmitBtn{
  background: #3620FF;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}


.logInnerBox button:hover{
  scale: 1.1;
}

.logCard .signBtn{
    margin-top: 40px;
    background: transparent;
}
.logCard a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}
  

@media(max-width:700px){
  .logcontainer .quizinclogo{
    width: 100px;
  }
  .logcontainer{
    height: 100vh;
  }
}