.parah{
    opacity: 0; 
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 3s;
}

.slide-in {
    opacity: 1; 
    transform: translateX(0); 
}

.headi{
    opacity: 0; 
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 3s;
}

.slide-down {
    opacity: 1; 
    transform: translateY(0); 
}

.ufo{
    animation: bounce 2.5s ease-in-out 0s 1.5 normal none;
    /* transform: translate3d(-5px, 0, 0); 
  animation: slideIn 8s cubic-bezier(0.42, 0, 0.58, 1) forwards; */
  offset-path: path("M -500,-500 Q 450 230 300 450 T 130 450 T 375 250");
  animation: slideIn 5s ease-in-out 0s 1 normal forwards;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes slideIn {
  0% {
    offset-distance: 0%;
    height:20%;
    width:20%;
  }
  100% {
    offset-distance: 100%;
    height:100%;
    width:100%; /* Adjust the rotation angle as needed */
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.button-pulse{
  animation: pulse 1s infinite;
}